*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body, html
{
	background-color: #4a4a4a;
    font-family: Apple Chancery, cursive;
	letter-spacing: 1.5px;
}

.header
{
	background-color: #141819;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.header nav
{
	margin-top: 5px;
}

.header li 
{
	display: inline-block;
}

.header a {
	border: 3px solid #e24b4b;
	border-radius: 25px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-right: 50px;
	padding: 10px 40px;
	text-decoration: none;
}

.current
{
	background-color: #e24b4b;
	color: black;
}

.header a:hover
{
	background-color: #5c5c5c;
	text-decoration: underline;
}

.header img{
	margin-left: 150px;
	width: 100px;
}

.bg
{
	background:url('slike/bg.jpg') center fixed;
    background-size: 100%;
    padding: 250px;
}

.wrap
{
	background-color: black;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 50px;
	color: white;
	display: block;
	margin: auto;
	padding: 40px;
	text-align: center;
	transition: width 1.5s;
 	width: 35%;
}

.wrap:hover
{
	width: 50%;
}

.wrap2
{
	background-color: #fef1f1;
	border-radius: 10px;
	margin-top: -80px;
	margin-left: auto;
	margin-right: auto;
	padding: 80px 40px;
	text-align: center;
	width: 80%;
}

h2
{
	border-radius: 10px;
	font-size: 45px;
	margin-bottom: 30px;
}

.column
{
	color: white;
	display: inline-block;
	padding: 30px;
	position: relative;
	text-align: center;
	width: 20%;
}

.column a
{
	background-color: #e24b4b;
	border-radius: 50px;
	color: black;
	display: block;
	left: 50%;
	padding: 10px;
	position: absolute;
	transform: translateX(-50%);
	text-align: center;
	top: 85%;
	width: 80%;
}

.column a:hover
{
	text-decoration: underline;
}

.slikawrap{
	height: 400px;
	width: 100%;
}

.slikawrap img
{
	display: block;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.column h2
{
	height: 50px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #e24b4b;
	border-radius: 10%;
}

@media screen and (max-width: 1700px)
{
	.column
	{
		width: 40%;
		margin-bottom: 5px;
	}
	.header h1
	{
		padding-left: 50px;
	}
	.header a
	{
		margin-right: 40px;
		font-size: 20px;
		padding: 10px 30px;
	}
	.shop{
		min-width: 80%;
	}
	.shopslika img{
		max-width: 100%;
		max-height: 100%;
	}
}

@media screen and (max-width: 1320px)
{
	.content
	{
		min-width: 80%;
		border: 2px dotted #e24b4b;
		margin: 20px 0;
	}
	.cena
	{
		text-align: justify;
	}
	.shopslika{
		max-height: 300px;
	}
	.shopslika img{
		width: 40%;
	}
}

@media screen and (max-width: 900px)
{
	.bg
	{
		padding: 100px;
	}
	.wrap
	{
		min-width: 85%;
	}
	.wrap:hover
	{
		width: 95%;
	}
	.column
	{
		width: 50%;
		margin-bottom: 10px;
	}
	.header{
		text-align: center;
		display: block;
	}
	.header nav
	{
		margin-top: 10px;
	}
	.header li{
		display: block;
		margin-top: 30px;
	}
	.header a
	{
		margin-left: auto;
		margin-right: auto;
	}
	.header img{
		margin: 0;		
	}
	.header
	{
		position: static;
	}
	h2
	{
		font-size: 25px;
	}
	.kontakt
	{
		min-width: 100%;
	}
	.logo
	{
		display: none;
	}
	.shopslika{
		max-height: 200px;
	}
	.logokontakt{
		visibility: hidden;
	}
}

.jedan
{
	background-color: #252528;
}

.dva
{
	background-color: #414149;
}

.tri
{
	background-color: #5d5d65;
}

.cetiri
{
	background-color: #8d8d96;
}
.main-text{
	-webkit-text-stroke: 3px black;
	padding-bottom: 25px;
	font-size: 32pt;
}

.red
{
	color: #e24b4b;
}

.wrap h1{
	font-size: x-large;
}

.main
{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 50px;
	text-align: center;
	background-color: #fef1f1;
	border-radius: 10px;
}

.content
{
	display: inline-block;
	width: 40%;
	padding: 50px;
}

.content h2
{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	min-width: 100%;
}

.imgwrap{
    width: 100%;
    height: 400px;
}

.content img
{
	margin: 30px auto;
	max-width: 100%;
    max-height: 100%;
}

.content ul
{
	text-align: justify;
}

.cena
{
	margin-top: 40px;
	font-weight: bold;
	font-size: 30px;
}

hr
{
	height: 2px;
	background-color: #252528;
	border: none;
	margin: 0 -45px;
	border-radius: 50%;
}

.wrap3
{
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
}

.kontakt
{	
	width: 60%;
	background-color: #b73838;
	text-align: justify;
	border-radius: 15px;
}

.forma
{
	padding: 30px 0px 30px 100px;
}

.forma h2
{
	font-size: 30px;
	margin-bottom: 30px;
}

.field
{
	display: inline-block;
	margin-right: 30px;
	padding-bottom: 20px;
}

.field label
{
	display: block;
	font-weight: bold;
}

.polje, #poruka
{
	margin: 10px 0;
	padding: 5px;
	width: 100%;
	font-size: 18px;
  	border: none;
	border-bottom: 1.5px solid black;
	background-color: #b73838;
}

#poruka
{
  	resize: none;
}

@keyframes spin 
{ 
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.logo
{
	width: 35%;
	position: absolute;
  	top: 50%;
  	left: 70%;
  	transform: translateY(-50%);
}	

.logo img
{
	width: 250px;
	height: 250px;
	animation: spin 5s alternate infinite;
}

input:focus, textarea:focus, button:focus, a:focus
{
	outline: none;
}

.posalji
{
	padding: 10px 40px;
	font-family: Apple Chancery, cursive;
	font-weight: bold;
	font-size: 15px;
	background-color: #b73838;
	border: 1px solid black;
	border-radius: 50px;
	display: block;
}

button:hover
{
	text-decoration: underline;
	cursor: pointer;
}

.footer
{
	margin-top: 50px;
	width: 100%;
	text-align: justify;
	background-color: black;
	color: white;
	text-align: center;
	padding: 15px 0;
}

.shop
{
	margin: 30px 0;
	width: 30%;
	display: inline-block;
	padding: 20px;
	border: 2px dotted #e24b4b;
	text-align: center;
}

.shop h2{
	height: 100px;
	margin-bottom: 20px;
}

.shop ul
{
	padding: 20px;
	height: 150px;
	text-align: justify;
}

.shop button
{
	padding: 15px 50px;
	margin: 30px 0;
	border-radius: 50px;
	border: 1px solid black;
	background-color: #e24b4b;
	font-weight: bold;
}

.shop li
{
	font-size: 15px;
}

.shopslika{
	width: 95%;
	height: 400px;
}

.shopslika img{
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 20px;
}

.info
{
	padding: 50px;
	position: relative;
	text-align: justify;
	width: 90%;
}

.info h2
{
	margin-bottom: 80px;
}

.info p
{
	width: 80%;
	margin: 40px 0;
}

.logokontakt
{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.logokontakt img
{
	width: 300px;
	height: 300px;
	animation: spin 5s alternate infinite;
}
.fb-share-button{
	margin: 20px;
}